<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.js')}}">

    <title>Scheduling Simulator</title>
    <!-- You can add additional meta tags, stylesheets, or scripts here -->
</head>
<body>
    <form>
        <label for="numberInput">Number:</label>
        <input type="number" id="numberInput" name="numberInput" required><br>

        <label for="textInput">Text:</label>
        <input type="text" id="textInput" name="textInput" required><br>

        <label for="arrivalTimeInput">Arrival Time:</label>
        <input type="time" id="arrivalTimeInput" name="arrivalTimeInput" required><br>

        <label for="priorityInput">Priority:</label>
        <select id="priorityInput" name="priorityInput" required>
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
