{% extends "layout.html" %} {% block content %}
<h2>Enter Process Data</h2>
<form action="/schedule" method="post">
  <div>
    <h3>Quantum Time:</h3>
    <input type="number" name="quantum" value="2" required />
  </div>
  <div>
    <h3>Processes:</h3>
    {% for i in range(3) %}
    <div>
      <label for="process_{{i}}">Process ID:</label>
      <input type="text" name="processes" id="process_{{i}}" value="2" />

      <label for="burst_time_{{i}}">Burst Time:</label>
      <input type="number" name="burst_times" id="burst_time_{{i}}" value="2" required />

      <label for="arrival_time_{{i}}">Arrival Time:</label>
      <input
        type="number"
        name="arrival_times"
        id="arrival_time_{{i}}"
        value="2"
        required
      />

      <label for="priority_{{i}}">Priority:</label>
      <input type="number" name="priorities" id="priority_{{i}}" value="2" required />

      <label for="repeat_count_{{i}}">Repeat Count:</label>
      <input
        type="number"
        name="repeat_counts"
        id="repeat_count_{{i}}"
        value="2"
        required
      />
    </div>
    {% endfor %}
  </div>
  <input type="submit" value="Schedule" />
</form>
<form action="/pllot" method="post">
  <input type="submit" value="Graph" />
</form>
{% endblock %}
